security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

        jwt: # Un provider jwt qui évite à symfony de faire appelle à la base de données
            lexik_jwt:
                class: App\Entity\User

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        # jwt --
        login: # Récommandé sinon si on utilise un provider différent pour le login que pour la partie api ça peut causer des problèmes
            pattern: ^/api/login_check
            provider: app_user_provider # Pour récupérer les informations en base de données
            stateless: true # Important
            json_login:
                check_path: /api/login_check # Le chemin à utiliser pour valider les authentifications
                username_path: username # Les identifiants attendu ou dans 'lexik_jwt_authentication.yaml'
                password_path: password # --
                success_handler: lexik_jwt_authentication.handler.authentication_success # La class à utilisé lorsque l'authentification est ok
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
            # L'ordre est important

        api:
            pattern: ^/api #
            # Si on a une erreur 'JWT Token Not Found' alors il faut mettre 'anonymous' à 'true' mais il l'est par défaut
            stateless: true
            provider: jwt
            jwt: ~ # Un provider qui permet de récupérer l'utilisateur depuis le 'token jwt' au lieu de faire une requête en base de données
        # --

        # main:
        #    lazy: true
        #    provider: app_user_provider
        #    custom_authenticator: App\Security\AppAuthenticator

            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Note: Only the *first* matching rule is applied
    access_control:
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
